.home-header {
    .header-logo {
        .header-logo-title {
            font-family: "Product Sans", Arial, sans-serif;
            font-size: 22px;
            line-height: 28px;
        }
    }
    .header-main {
        .header-search {
            .search-main {

                input {
                    outline: none;
                }
            }
        }
        .header-settings {
            .header-setting-child {
                padding: 8px;
                margin: 2px;
                &:hover {
                    cursor: pointer;
                    background-color: #e7e8eb;
                    border-radius: 50%;
                }

                .user-setting {
                    padding: 8px 12px 16px;
                    width: 436px;
                    padding: 8px 12px 16px;

                    .manage-your-google-account {
                        border: 1px solid #747775;
                        display: inline-block;
                        border-radius: 100px;
                        margin-left: 85px;
                        font-weight: 500;
                        font-size: 14px;

                        &:hover {
                            background: rgba(11, 87, 208, .08);
                        }
                    }
                }
            }
        }
    }
}