@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
@import '@fortawesome/fontawesome-free/css/all.css';

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
}


// Custom checkbox

.checkbox.style-custom {
  display: inline-block;
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox.style-custom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox.style-custom input:checked ~ .checkbox__checkmark {
  background-color: #1677ff;
}
.checkbox.style-custom input:checked ~ .checkbox__checkmark:after {
  left: 21px;
}
.checkbox.style-custom:hover input ~ .checkbox__checkmark {
  background-color: #eee;
}
.checkbox.style-custom:hover input:checked ~ .checkbox__checkmark {
  background-color: #1677ff;
}
.checkbox.style-custom .checkbox__checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 22px;
  width: 40px;
  background-color: #eee;
  transition: background-color 0.25s ease;
  border-radius: 11px;
}
.checkbox.style-custom .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 16px;
  height: 16px;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  transition: left 0.25s ease;
}
.checkbox.style-custom .checkbox__body {
  color: #333;
  line-height: 1.4;
  font-size: 16px;
  transition: color 0.25s ease;
}
